eCert/Connected Services/FAP_Service/UserWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetUserByAcademicEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="academicEmail" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserByAcademicEmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserByAcademicEmailResult" type="tns:User" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="User">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FullName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Gender" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="DOB" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="PhoneNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AcademicEmail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RollNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Ethnicity" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetUserByRollNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rollNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserByRollNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserByRollNumberResult" type="tns:User" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPassedSubject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rollNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPassedSubjectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPassedSubjectResult" type="tns:ArrayOfSubject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSubject">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Subject" nillable="true" type="tns:Subject" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Subject">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Semester" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SubjectCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Mark" type="s:float" />
        </s:sequence>
      </s:complexType>
      <s:element name="Test">
        <s:complexType />
      </s:element>
      <s:element name="TestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TestResult" type="tns:Product" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Product">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ProductName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProductDesc" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetUserByAcademicEmailSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserByAcademicEmail" />
  </wsdl:message>
  <wsdl:message name="GetUserByAcademicEmailSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserByAcademicEmailResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserByRollNumberSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserByRollNumber" />
  </wsdl:message>
  <wsdl:message name="GetUserByRollNumberSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserByRollNumberResponse" />
  </wsdl:message>
  <wsdl:message name="GetPassedSubjectSoapIn">
    <wsdl:part name="parameters" element="tns:GetPassedSubject" />
  </wsdl:message>
  <wsdl:message name="GetPassedSubjectSoapOut">
    <wsdl:part name="parameters" element="tns:GetPassedSubjectResponse" />
  </wsdl:message>
  <wsdl:message name="TestSoapIn">
    <wsdl:part name="parameters" element="tns:Test" />
  </wsdl:message>
  <wsdl:message name="TestSoapOut">
    <wsdl:part name="parameters" element="tns:TestResponse" />
  </wsdl:message>
  <wsdl:portType name="UserWebServiceSoap">
    <wsdl:operation name="GetUserByAcademicEmail">
      <wsdl:input message="tns:GetUserByAcademicEmailSoapIn" />
      <wsdl:output message="tns:GetUserByAcademicEmailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserByRollNumber">
      <wsdl:input message="tns:GetUserByRollNumberSoapIn" />
      <wsdl:output message="tns:GetUserByRollNumberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPassedSubject">
      <wsdl:input message="tns:GetPassedSubjectSoapIn" />
      <wsdl:output message="tns:GetPassedSubjectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <wsdl:input message="tns:TestSoapIn" />
      <wsdl:output message="tns:TestSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserWebServiceSoap" type="tns:UserWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUserByAcademicEmail">
      <soap:operation soapAction="http://tempuri.org/GetUserByAcademicEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserByRollNumber">
      <soap:operation soapAction="http://tempuri.org/GetUserByRollNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPassedSubject">
      <soap:operation soapAction="http://tempuri.org/GetPassedSubject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <soap:operation soapAction="http://tempuri.org/Test" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UserWebServiceSoap12" type="tns:UserWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUserByAcademicEmail">
      <soap12:operation soapAction="http://tempuri.org/GetUserByAcademicEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserByRollNumber">
      <soap12:operation soapAction="http://tempuri.org/GetUserByRollNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPassedSubject">
      <soap12:operation soapAction="http://tempuri.org/GetPassedSubject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test">
      <soap12:operation soapAction="http://tempuri.org/Test" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserWebService">
    <wsdl:port name="UserWebServiceSoap" binding="tns:UserWebServiceSoap">
      <soap:address location="http://fapdemo233.azurewebsites.net/UserWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="UserWebServiceSoap12" binding="tns:UserWebServiceSoap12">
      <soap12:address location="http://fapdemo233.azurewebsites.net/UserWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>